#carousel-1 {
	width: 100%;
	height: 450px;
}

.heading {
	text-align: center;
	font-size: 24px;
}

.single-slide {
	width: 25%;
	height: 100%;
	float: left;
	img {
		width: 100%;
		height: 100%;
	}
}
